# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Binary
bin/yt-dlp
bin/*.exe
server/bin/yt-dlp
server/bin/yt-dlp.exe

# OS
Thumbs.db
.DS_Store
